.container {
  width: 90%;
  margin: 0 auto;
  padding: 24px 0px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
}

.swiper-pagination-bullet-active {
  width: 48px;
  height: 8px;
  border-radius: 4px;
  background: #fff;
}

.input-form-register {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
  color: #adb2b1;
  padding: 8px 12px;
  width: 100%;
  outline: none;
}
.input-form-register:focus {
  border: 1px solid #fff;
}
.input-form-register ::-moz-placeholder {
  color: #adb2b1 !important;
}
.input-form-register ::placeholder {
  color: #adb2b1 !important;
}

.input-form-modal {
  color: #1e1e1e;
  border-radius: 4px;
  border: 1px solid #adb2b1;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  width: 100%;
  outline: none;
}

.MuiTypography-root {
  font-size: 14px;
  font-family: inherit !important;
  line-height: 24px !important;
}

.MuiBox-root label,
.MuiBox-root span {
  color: #1e1e1e;
}
.MuiBox-root ::-moz-placeholder {
  color: #1e1e1e !important;
}
.MuiBox-root ::placeholder {
  color: #1e1e1e !important;
}
.MuiBox-root path {
  color: #3cb371 !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-container .grid-item {
  font-size: 30px;
  text-align: center;
}
.grid-container .grid-item:nth-child(3n-1),
.grid-container .grid-item:nth-child(3n-2) {
  border-right: 1px solid rgba(171, 171, 171, 0.2);
}
.grid-container p {
  font-size: 15px;
  text-align: left;
}

.icon-menu {
  display: inline-block;
  cursor: pointer;
}
.icon-menu .bar1,
.icon-menu .bar2,
.icon-menu .bar3 {
  width: 35px;
  height: 5px;
  background-color: #3cb371;
  margin: 6px 0;
  transition: 0.4s;
}
.icon-menu .change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.icon-menu .change .bar2 {
  opacity: 0;
}
.icon-menu .change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.nav-mobile {
  flex-direction: column;
  z-index: 99;
  position: fixed;
  background-color: #21402f;
  height: 100%;
  top: 0;
  left: -315px;
  width: 250px;
  justify-content: flex-start;
  transition: all 0.4s;
  align-items: flex-start;
  box-shadow: 1px 0px 8px 2px #21402f;
}
.nav-mobile li {
  width: 100%;
}
.nav-mobile p {
  font-weight: 600;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px 20px;
}
.nav-mobile p:hover {
  background-color: white;
  color: #3cb371;
}

nav a,
nav p {
  cursor: pointer;
  color: #fff;
}
nav a:hover,
nav p:hover {
  opacity: 0.8;
}

.page-compare li,
.page-compare p,
.page-compare h6.uppercase {
  color: #fff;
}

.card-flip {
  width: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}/*# sourceMappingURL=index.css.map */